@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");

.login_page {
  
}

.login_form input,
.login_form .btn_login {
  display: block;
  margin-top: .1rem;
  font-family: "Cormorant Garamond", serif;
}

.btn_login {
  border-radius: 5px;
  border: 1px outset;
  background-color: #f8f8f8;
  font-family: "Cormorant Garamond", serif;
}
