@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");

.btn_show {
    border-radius: 5px;
    border: 1px solid;
    background-color: #f8f8f8;
    opacity: 0.7;
    transition: 0.2s;
}

.btn_show:hover,
.btn_show:active {
    opacity: 1;
}

.text_area {
    margin-top: 1px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid;
    background-color: #f8f8f8;
    font-family: "Cormorant Garamond", serif;
    resize: none;
}

.btn_submit {
    border-radius: 5px;
    border: 1px outset;
    background-color: #f8f8f8;
}