@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");

.date {
  margin-top: .5rem;
  font-family: "Cormorant Garamond", serif;
}

.time {
  margin-top: .1rem;
  font-family: "Cormorant Garamond", serif;
}

.news_text {
  -webkit-line-clamp: 3;
  font-family: "Cormorant Garamond", serif;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: center;
  font-weight: 200;
}

.btn_expand {
  display: flex;
  padding: 0;
  border: none;
  background: none;
  font-weight: bolder;
  font-family: "Cormorant Garamond", serif;
}
