.card {
  padding: 5%;
  margin: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: rgba(235, 210, 164, 0.418);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: top;
}
